body{margin: 0;}
#wrap{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
#header{
    width: 100%; padding: 20px;
    position: sticky; top: 0;
    background: white; z-index: 100;
}
#logoWrap{width: 62px; height: 81px;}
.menuWrap{position: absolute; left: 102px; top: 0;}
.nav{position: relative; line-height: 101px;}
.menu{position: absolute; width: 100px;text-align:center;}
.nav .menu:nth-child(2){left: 100px;}
.nav .menu:nth-child(3){left: 200px;}
.nav .menu:nth-child(4){left: 300px;}
.nav .menu:nth-child(5){left: 450px;}
.nav .menu:hover{background-color: black; color: white;}

#main{height: 1000px; width: 100%; position: relative;}
.main{ position: relative; height:500px;  width: 450px;}
#main .main:nth-child(1){position: relative; height: 440px; width: 374px;}
#main .main:nth-child(2){position: relative; height:500px;  width: 450px; background-color: khaki;}
#main .main:nth-child(3){position: relative; height: 440px; width: 626px; top: -940px;left: 374px;}
#main .main:nth-child(4){position: relative; height:500px;  width: 550px; top: -940px; left: 450px; background-image:url("https://previews.123rf.com/images/norwayblue/norwayblue1403/norwayblue140300002/26592597-%ED%91%B8%EB%A5%B8-%ED%95%98%EB%8A%98%EA%B3%BC-%ED%9D%B0-%EA%B5%AC%EB%A6%84-%EB%B0%B0%EA%B2%BD%EC%9D%84-%ED%99%95%EC%82%B0-%ED%8C%8C%EC%9D%BC%EC%9D%80-%ED%88%AC%EB%AA%85-%EA%B7%B8%EB%9D%BC%EB%8D%B0%EC%9D%B4%EC%85%98%EC%9D%B4-%ED%8F%AC%ED%95%A8%EB%90%98%EC%96%B4.jpg");
background-size: cover; opacity: 1; z-index: 50;}
.img1{ position: absolute; z-index: 50;}
.imgText{position: relative;z-index: 90; 
    text-align: center; font-size: 30px;
    font-weight: 900; font-style: italic;
    top: 15px;
}
.img2{position: absolute; z-index: 50;}
.imgText2{
    position: relative; font-size: 25px; text-align: center;
    font-weight: bold; font-style: italic;
    z-index: 90; color: aquamarine;
    top: 15px;
}
*{list-style: none; margin: 0;}
.store{position: relative; left: 20px; top: 50px;}
.mainText{position: relative; text-align: center; top: 50px; opacity: 1;
    font-size: 30px;
}
