:root{
    --bg-color:#222845; /*전체 배경색*/
    --font-color:#cbcbcb; /*기본 텍스트 색상*/
    --box-color:#747474; /*컨텐츠 배경색*/
    --bt-color:#2f9d27 ; /*버튼 배경색*/
    --menu-color:#8c8c8c; /*메뉴배경색*/
    --menu-hover-color:#f2cb61; /*메뉴 마우스오버*/
    --font-size:1.2rem;
    --title-size:2.5rem;
    --content-sizw:1.5rem;
    --sub-size:1.9rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    font-size: var(--font-size);
    color: var(--font-color);
}
a {
    text-decoration: none;
    color: inherit ;
}
span,b,i,strong{display: inline-block;}
table{
    border-collapse: collapse;
    text-align: center;
}
input[type=text], input[type=password], input[type=email],input[type=number]{
    padding: 5px 10px;
    outline: none;
    border: 0;
}